@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	// transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #ECECEC;
	color: #000;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

a{
	text-decoration: none;
	color: inherit;
}
 //Typhography
 h1{
	font-weight: 600;
	font-size: 40px;
 }
 h2{
	 font-size: 35px;
	 font-weight: 600;
	 line-height: 45px;
 }
.e-container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.navigation{
	border-bottom: 2px solid #c45238;
	padding: 5px 0;
	background-color: rgba(193, 195, 195, .3);
	transition: all 0s;
	.e-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&.fixed{
		position:fixed;
		top:0; 
		left:0;
		width:100%;
		z-index: 1;
		background-color: rgba(193, 195, 195, 1);
		transition: all 0s;
		ul{
			color: #000;
		}
	}
}
.menu{
	display: flex;
	color: #c45238;
	&__item{
		
		font-weight: 600;
		&:not(:last-child){
			margin-right: 20px;
		}
		&--active{
			&::after{
				content: '';
				display: block;
				height: 1px;
				background-color: #c45238;
				width: 100%;
				margin-top: 5px;
			}
		}
	}
}