.footer{
    border-top: 2px solid #c45238;
    padding:40px 0;
    background-color: #cfcac1;
    h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    ul{
        list-style-type: disc;
        margin-left: 25px;
        li{
            line-height: 1.3;
        }
    }
}