.header{
  // color: #000;
  // background:#b6d8d5  ;//linear-gradient(-45deg, rgba(56,176,179,1) 0%, rgba(182,179,126,1) 19%, rgba(203,140,56,1) 42%, rgba(196,87,28,1) 66%, rgba(204,22,65,1) 86%, rgba(150,76,130,1) 100%);
	  background-image: url('../images/git-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 80vh;
  &__logo{
    img{
      width: 70px;
      height: 70px;
    }
  }
  &__content{
    padding: 4% 0;
    .content-wr{
      background-color: rgba(193, 195, 195, .9);
      padding-top: 50px;
      padding-bottom: 50px;
      border-radius: 5px;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
  }
  &__desc{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

.s-header{
  &__content{
    padding: 50px 0;
  }
}
.br-header{
  &__content{
    padding: 50px 0;
  }
}