.reasons{
  padding: 30px 0;
  &__title{
    margin-bottom: 20px;
  }
  &__text{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  &__list{
    list-style-type: circle;
    list-style-position: inside;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__list-item{
    margin-bottom: 10px;
    line-height: 23px;
  }
}